<h3 class="text-align">{{AppConstants.APP_TITLE}}</h3>
<div class="criteria-positioning">
<mat-form-field>
  <mat-label>{{AppConstants.CATEGORY_PLACEHOLDER}}</mat-label>
  <mat-select id="categorySelect" [(value)]="selectedCategory" (selectionChange)="generateQuestions=false">
    <mat-option *ngFor="let category of categories" [value]="category.id">
      {{category.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>{{AppConstants.DIFFICULTY_PLACEHOLDER}}</mat-label>
  <mat-select id="difficultySelect" [(value)]="selectedDifficulty" (selectionChange)="generateQuestions=false">
    <mat-option *ngFor="let level of Difficulty | keyvalue" [value]="level.value">
      {{level.key}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <button mat-raised-button id="createBtn" class="button-positioning" (click)="generateQuestions=true">Create</button>
</div>
<!--parent-child implementation-->
<app-trivia-questions-list *ngIf="generateQuestions" [category]="selectedCategory"
                           [difficulty]="selectedDifficulty"></app-trivia-questions-list>
<div>
  <table>
  <div *ngFor="let userId of userIds">
    <td>{{userId.title}}</td>
    <td>{{userId.id}}</td>
    </div>
    </table>
</div>
