.mat-mdc-outlined-button.mat-results {
  color: #155724;
  border-color: #155724;
}
.correct-choice{
  background-color: #155724;
  color: #FFFFFF !important;
}
.wrong-choice{
  background-color: #ff0000;
  color: #FFFFFF !important;
}
.other-choice{
  background-color: #FFFFFF;
  color: #155724 !important;
}
